
/* Main stylings */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #171717;;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Utility classes */
.centered-container {
  display: flex;
  justify-content: center;
}


/* classes for various things */

/* Flex container for the nav */

.nav-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-right: 20px;
  margin-left: 20px;
}

/* to remove the shadow of materialize CSS nav */
.no-shadows {
  box-shadow: none!important;
  background: #171717;
}

.nav-hamburger-styling i {
  padding-top: 20px;
  font-size: 30px;
} 

/* Selfie in navbar */
.selfie {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-left: 60px;
  margin-top: 30px;
  border: solid 2px grey;
}

.social-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* snake game */

.hero-display-wormhole {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wormhole-logo {
  font-family: 'Modak', cursive;
}

/* canvas drop shadow, bg color et.c.. */
.worm-canvas {
  border: 2px solid rgb(163, 163, 163);
  background: url("https://images.unsplash.com/photo-1516339901601-2e1b62dc0c45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60");
  border-radius: 22px;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  animation: animation 100s linear infinite;
}

@keyframes animation {
   100%{
    background-position:0px -3000px;
  }
}

/* For the play game button */
#more {
  display: none;
}


/* footer */
.hero-display-footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
}